/* Reset padding, margin, and box-sizing */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Carousel caption styling */
.carousel-caption {
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.193);
}
.carousel-item img {
    height: 90dvh;
}
/* Scroll images styling */
.scroll-img,
.scroll-imgTwo {
    height: 60vh;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.scroll-img {
    background-image: url(../images/pexels-cottonbro-4252146.jpg);
}

.scroll-imgTwo {
    background-image: url(../images/pexels-reneterp-3217156.jpg);
}

/* Card styling */
.card {
    max-width: 400px;
    margin: 0 auto;
    position: relative;
}

/* Card hover effect */
.food::before,
.food::after {
    position: absolute;
    content: '';
    background-color: rgba(0, 0, 0, 0.234);
    transition: 0.5s;
}

.food::before {
    top: 0;
    left: 0;
    width: 0;
    height: 0;
}

.food::after {
    bottom: 0;
    right: 0;
    width: 0;
    height: 0;
}

.food:hover::before,
.food:hover::after {
    width: 100%;
    height: 100%;
}

/* Card image overlay effect */
.card-img-overlay {
    transition: 0.5s;
    background-color: rgba(128, 128, 128, 0.247);
}

.chef:hover .card-img-overlay {
    padding: 100px 20px;
    background-color: rgba(255, 251, 251, 0);
}

/* Social media icons styling */
.Social-media-icons {
    z-index: 10;
    position: fixed;
    right: 30px;
    top: 48%;
}

/* Link styling */
a {
    text-decoration: none;
}

/* Video styling */
.video {
    width: fit-content;
    border-radius: 15px;
}

/* Recipe image hover effect */
.recipe img {
    transition: 0.5s;
}

.img-fluid {
    overflow: hidden;
}

.recipe:hover img {
    transform: scale(1.1);
}
